@import url('https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Sono', sans-serif;
}
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-white: #fff;
    --main-color: #0ef;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-white);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-white);
    font-weight: 700;
    cursor: default;
    transition: .3s;
}
.navbar_container a{
    font-size: 1.8rem;
    color: var(--text-white);
    margin-left: 5rem;
}
.navbar_container a:hover,
.navbar_container a.active
{
    color: var(--main-color);
}
#menu_icon{
    font-size: 3.7rem;
    color: var(--text-white);
    display: none;
}
